services:
#    post.example:
#        class: Application\Bundles\PostBundle\Example
#        arguments: [@service_id, "plain_value", %parameter%]

    application.post.admin.post:
        class: Application\Bundles\PostBundle\Admin\PostAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Yazılar", label: "Yazılar" }
        arguments:
            - ~
            - Application\Bundles\PostBundle\Entity\Post
            - ~

    application.post.admin.tag:
        class: Application\Bundles\PostBundle\Admin\TagAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Yazılar", label: "Etiketler" }

        arguments:
            - ~
            - Application\Bundles\PostBundle\Entity\Tag
            - ~